/* feedback form*/
body{
    background-image: url(./fb-bg.jpg);
    
}
.p-title{
    font-weight: bold;
    font-family: cursive;
    /* font-size: x-large; */
}
.p-title .t1{
    color: rgb(56, 160, 15);
    font-size: 40px;

}
.p-title .t2{
    color: rgb(230, 117, 24);
    font-size: 40px;

}
.description #main-img{
    width: 100%;
    height: 700px;
    background-image: url('mainimg1.jpg');
    animation-name: disp-img;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
@keyframes disp-img{
    0%{
        background-image: url('mainimg1.jpg');
        background-size: cover;
        opacity: 1;
        
    }
    100%{
        background-image: url('mainimg.jpg');
        background-size: cover;
        opacity: 1;
        
    }

}


h1{
    color: aqua;
    text-align: center;
    padding-top: 40px ;
    font-size: 40px;
    text-decoration: underline;
}
#f-head{
    text-align: center;
    margin-bottom: -3px;
    text-decoration: underline;
}
textarea{
    width: 100%;
    height: 100px;
}
fieldset{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid rgb(231, 122, 122);
    border-radius: 10px;
}
#sub{
    margin-top: 20px;
    margin-left: 10%;
}
/* /feedback form*/

/* home page */
.nav-item{
    font-size: 15px;
    
}
.description{
    background-image: url('/bg.jpg');
    padding-bottom: 40px;
    box-shadow: 0 0 25px 0 white;
}
.p-h{
    text-align: center;
    padding: 35px;
    padding-top: 60px;
    font-family: cursive;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
}

.desc-container{
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    
}
.d-box{
    background-color: rgb(3, 122, 29);
    color: white;
    width: 23%;
    border-radius: 20px;
    padding: 25px;
    text-align: justify;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    position: relative;
}
.d-box p{
    opacity: 0.2;
    transition-duration: 1s;
    transition-delay: 0.7s;
}
.d-box h6{
    text-align: center;
    opacity: 1;
    font-weight: bolder;
    margin-bottom: 25px;
    text-decoration: underline;
}
.d-box:hover{
    background-color: rgb(7, 57, 102);
    transform: rotateY(360deg);
    width: 23%;
    border-radius: 20px;
    padding: 25px;
    text-align: justify;
}
.d-box p:hover{
    opacity: 1;
}


/* /home page */

/* customer feedback */
#cust-fb{
    color: rgb(17, 16, 16);
    margin-top: 30px;
}
#cust-fb h1{
    margin-bottom: 70px;
}
.fb-container{
    /* margin-top: 100px; */
    display: flex;
    justify-content: space-between;  
    margin-left: 50px;
    margin-right: 50px;
    
}
.box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-image: url('fb_bg.jpg');
    margin: 35px;
    border-radius: 0 20px;
    padding: 30px;
    width: 30%;
    position: relative;
}

.box-img{
    border: 1px solid black ;
    border-radius: 100%;
    position: absolute;
    top: -60px;
    left: 10px;
    z-index: -1;
    
    /* right: 230px; */
}
/* /customer feedback */

/* about us */
#about-us{
    background-color: rgb(137, 145, 145);
    background-image: url(./aboutus_bg.jpg);
    background-size: cover;
    z-index: -1;
    border: 2px solid rgb(248, 174, 174);
    border-radius: 20px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgb(245, 223, 97);
}
#about-us p{
    color: white;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 40px;
    position: relative;
    color: black;
    font-family: cursive;
    font-weight: 600;
}
#about-us a{
    background-color: rgb(29, 31, 151);
    color: aqua;
    border-right: 3px solid cyan;
    border-bottom: 3px solid cyan;
    /* border-radius: 80px; */
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-left: 40px;
    max-width: 300px;
}
#about-us a:hover{
    background-color: cyan;
    color: rgb(29, 31, 151);
    border-right: 3px solid rgb(29, 31, 151);
    border-bottom: 3px solid rgb(29, 31, 151);
}
/* /about us */

/* contact */
#contact-us{
    margin-top: 100px;
}
.contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
    margin: 30px 50px;
}
.contact{
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgb(250, 69, 69);
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(whitebg.jpg);
    color: rgb(192, 36, 109);
    padding: 20px 10px;
}
.contact:hover{
    box-shadow: 0 0 35px 0 rgb(78, 250, 184);
    color: black;   
}

.contact a{
    text-decoration: none;
    color: rgb(231, 206, 63);
    font-weight: 600;
}
.contact a:hover{
    color: rgb(181, 41, 194);
}
/* /contact */

/* footer */
footer{
    background-color: rgb(77, 76, 76);
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: -30px; 
    margin-bottom: 0px;  
    text-align: center;  
    position: relative;
    top: 100px;
    border: 2px solid rgb(71, 71, 71);
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 40px; 
    
}
.f-t{
    font-size: 100px;
}

a #instagram:hover{
    content:url(icons8-instagram-30.png);
}
a #facebook:hover{
    content:url(icons8-facebook-30.png);
}
a #twitter:hover{
    content:url(icons8-twitter-30.png);
}
a #youtube:hover{
    content:url(icons8-youtube-30.png);
}
a #whatsapp:hover{
    content:url(icons8-whatsapp-30.png);
}
footer hr{
    width: 35%;
    margin: auto;
    border: .5px solid rgb(129, 127, 127);
    margin-top: 10px;
}
footer p{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-weight: bolder;
    font-size: 12px;
}
footer #design{
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 11px;
    color: rgb(17, 157, 182);
}
footer a{
    text-decoration: none;
    color: rgb(28, 194, 92);
}
footer a:hover{
    color: rgb(235, 91, 235);
}
/* /footer */

/* contact-now */
#contact-now{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(209, 98, 159);
    font-size: small;
    position: fixed;
    bottom: 25px;
    right: 5px;
}
/* /contact-now */

/* feedback */
#feedback a{
    position: fixed;
    bottom: 0px;
    left: 35px;
    text-decoration: none;
    background-color: rgb(226, 172, 90);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

#feedback a:hover{
    background-color: rgb(201, 120, 0);
}
/* /feedback */


    
